# File types 

**Time**
- Teaching: 15 min
- Exercises: 10 min

**Questions**:
- "How can I store more complicated data?"
- "How can I retrieve complicated data efficiently?"

**Learning Objectives**:
- "Understand the fundamentals of Python's data structures and sequences.
* * * * *

## Tuple 

Tuple is a fixed-length, immutable sequence of Python objects.

In [1]:
tup = (1, 2, 3)

type(tup)

tuple

You can convert a list into a tuple.

In [2]:
print(type([1, 2, 3]))

print(type(tuple([1, 2, 3])))

<class 'list'>
<class 'tuple'>

Elememts can be accessed with [ ].

In [3]:
tup = tuple('PS239T')

tup[1]

'S'

## List 
List is a variable-length and mutable sequence of Python objects.

### Basic operations

In [4]:
ls = ['Jae', 'Yeon', 'Kim', 5]

ls

['Jae', 'Yeon', 'Kim', 5]

In [5]:
tup = ('Jae', 'Yeon', 'Kim')

type([tup])

list

In [6]:
tup[1]

'Yeon'

### Adding and removing elements.

In [7]:
ls.append('Political Science')

ls

['Jae', 'Yeon', 'Kim', 5, 'Political Science']

In [8]:
ls.insert(0, 'Instructor')

ls

['Instructor', 'Jae', 'Yeon', 'Kim', 5, 'Political Science']

In [9]:
ls.remove('Instructor')

ls

['Jae', 'Yeon', 'Kim', 5, 'Political Science']

### Concatenating and combining lists

In [10]:
another_list = ['computational social science', 'text analysis', 'machine learning']

ls + another_list

['Jae',
 'Yeon',
 'Kim',
 5,
 'Political Science',
 'computational social science',
 'text analysis',
 'machine learning']

In [11]:
the_other_list = ['cooking', 'running', 'coding']

ls.extend(the_other_list)

ls

['Jae', 'Yeon', 'Kim', 5, 'Political Science', 'cooking', 'running', 'coding']

### Sorting

In [12]:
num_list = [2, 1, 5, 7, 3, 4, 6]

num_list.sort()

num_list

[1, 2, 3, 4, 5, 6, 7]

### Slicing

In [13]:
num_list[0:3]

[1, 2, 3]

In [14]:
num_list[1:3]

[2, 3]

In [15]:
num_list[4:6]

[5, 6]

In [16]:
num_list[-3] # relative to the end

5

### Built in sequence functions

##### Enumerate

In [17]:
i = 0 
for value in [1,2,3,4,5]:
    i += 1
    if i > 4: 
        print("happy end")
    else:
        print("keep going")

keep going
keep going
keep going
keep going
happy end

In [18]:
for i, value in enumerate([1,2,3,4,5]):
    if i > 3: 
        print("happy end")
    else:
        print("keep going")

keep going
keep going
keep going
keep going
happy end

#### Sorted

In [19]:
sorted([1, 2, 3, 4, 5, 6])

[1, 2, 3, 4, 5, 6]

#### Zip

In [20]:
univ_name = ['Berkeley', 'Michigan', 'Harvard', 'Stanford']
univ_type = ['Public', 'Public', 'Private', 'Private']

list(zip(univ_name, univ_type))

[('Berkeley', 'Public'),
 ('Michigan', 'Public'),
 ('Harvard', 'Private'),
 ('Stanford', 'Private')]

In [21]:
for i, (a, b) in enumerate(zip(univ_name, univ_type)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: Berkeley, Public
1: Michigan, Public
2: Harvard, Private
3: Stanford, Private

#### Reversed

In [22]:
list(reversed(range(20)))

[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### Dict (Dictionary)

- The most important built-in Python data type 
- a flexible collection of key-value paires (both are Python objects).

In [23]:
univ = {'Berkeley' : 'Public',
        'Michigan' : 'Public',
        'Stanford' : 'Private',
        'Harvard' : 'Private'}

univ

{'Berkeley': 'Public',
 'Michigan': 'Public',
 'Stanford': 'Private',
 'Harvard': 'Private'}

In [24]:
univ['Berkeley']

'Public'

In [25]:
'Berkeley' in univ

True

In [26]:
del univ['Berkeley']

'Berkeley' in univ

False

In [27]:
univ.update({'Berkeley' : 'Public'})

'Berkeley' in univ

True

### Set

- Similar to dicts, but only keys.

In [28]:
univ = {'Berkeley', 'Michigan', 'Harvard', 'Stanford'} # or you can use set()

univ

{'Berkeley', 'Harvard', 'Michigan', 'Stanford'}

In [29]:
other_univ = {'Princeton', 'Yale', 'MIT'}

univ.union(other_univ)

univ

{'Berkeley', 'Harvard', 'Michigan', 'Stanford'}

In [30]:
west_univ = {'Berkeley', 'Stanford'}

univ & west_univ # or you can use .intersection()

{'Berkeley', 'Stanford'}