## Challenge 1: Reversing a String

Fill in the blanks in the program below so that it prints "nit"
(the reverse of the original character string "tin").

In [1]:
original = "tin"
result = ""
for char in original:
    result = char + result
print(result)

nit

### BONUS: How can you do this in one line with stride?

In [2]:
original[::-1]

'nit'

## Challenge 2: Practice Accumulating

Fill in the blanks in each of the programs below
to produce the indicated result.

In [3]:
# Total length of the strings in the list: ["red", "green", "blue"] => 12
total = 0
for word in ["red", "green", "blue"]:
    total = total + len(word)
print(total)

12

In [4]:
# List of word lengths: ["red", "green", "blue"] => [3, 5, 4]
lengths = []
for word in ["red", "green", "blue"]:
    lengths.append(len(word))
print(lengths)

[3, 5, 4]

In [5]:
# Concatenate all words: ["red", "green", "blue"] => "redgreenblue"
words = ["red", "green", "blue"]
result = ""
for c in words:
    result = ''.join(words)
print(result)

redgreenblue

In [6]:
# Create acronym: ["red", "green", "blue"] => "RGB"
# write the whole thing

ac = ""
for c in words:
    ac += c[0].upper()
print(ac)

RGB

## Challenge 3: Multiple Operations

Below is a list of presidents. Create a new list that contains only the last name of each president.

(HINT: Look at string methods!)

In [7]:
presidents_full = ["George Washington", "John Adams", "Thomas Jefferson", "James Madison", "James Monroe", \
        "John Quincy Adams", "Andrew Jackson", "Martin Van Buren", "William Henry Harrison", "John Tyler", \
        "James K. Polk", "Zachary Taylor", "Millard Fillmore", "Franklin Pierce", "James Buchanan", \
        "Abraham Lincoln", "Andrew Johnson", "Ulysses S. Grant", "Rutherford B. Hayes", "James A. Garfield", \
        "Chester A. Arthur", "Grover Cleveland", "Benjamin Harrison", "Grover Cleveland", "William McKinley", \
        "Theodore Roosevelt", "William Howard Taft", "Woodrow Wilson", "Warren G. Harding", "Calvin Coolidge", \
        "Herbert Hoover", "Franklin D. Roosevelt", "Harry S. Truman", "Dwight D. Eisenhower", "John F. Kennedy", \
        "Lyndon B. Johnson", "Richard Nixon", "Gerald Ford", "Jimmy Carter", "Ronald Reagan", "George H. W. Bush", \
        "Bill Clinton", "George W. Bush", "Barack Obama"]

In [8]:
last_names = []
for p in presidents_full:
    l_name = p.split()[-1]
    last_names.append(l_name)

In [9]:
last_names

['Washington',
 'Adams',
 'Jefferson',
 'Madison',
 'Monroe',
 'Adams',
 'Jackson',
 'Buren',
 'Harrison',
 'Tyler',
 'Polk',
 'Taylor',
 'Fillmore',
 'Pierce',
 'Buchanan',
 'Lincoln',
 'Johnson',
 'Grant',
 'Hayes',
 'Garfield',
 'Arthur',
 'Cleveland',
 'Harrison',
 'Cleveland',
 'McKinley',
 'Roosevelt',
 'Taft',
 'Wilson',
 'Harding',
 'Coolidge',
 'Hoover',
 'Roosevelt',
 'Truman',
 'Eisenhower',
 'Kennedy',
 'Johnson',
 'Nixon',
 'Ford',
 'Carter',
 'Reagan',
 'Bush',
 'Clinton',
 'Bush',
 'Obama']

Now sort the list alphabetically by last name (HINT: look up `sorted`):

In [10]:
sorted(last_names)

['Adams',
 'Adams',
 'Arthur',
 'Buchanan',
 'Buren',
 'Bush',
 'Bush',
 'Carter',
 'Cleveland',
 'Cleveland',
 'Clinton',
 'Coolidge',
 'Eisenhower',
 'Fillmore',
 'Ford',
 'Garfield',
 'Grant',
 'Harding',
 'Harrison',
 'Harrison',
 'Hayes',
 'Hoover',
 'Jackson',
 'Jefferson',
 'Johnson',
 'Johnson',
 'Kennedy',
 'Lincoln',
 'Madison',
 'McKinley',
 'Monroe',
 'Nixon',
 'Obama',
 'Pierce',
 'Polk',
 'Reagan',
 'Roosevelt',
 'Roosevelt',
 'Taft',
 'Taylor',
 'Truman',
 'Tyler',
 'Washington',
 'Wilson']

In [11]:
sorted(presidents_full, key=lambda x: x.split()[-1])

['John Adams',
 'John Quincy Adams',
 'Chester A. Arthur',
 'James Buchanan',
 'Martin Van Buren',
 'George H. W. Bush',
 'George W. Bush',
 'Jimmy Carter',
 'Grover Cleveland',
 'Grover Cleveland',
 'Bill Clinton',
 'Calvin Coolidge',
 'Dwight D. Eisenhower',
 'Millard Fillmore',
 'Gerald Ford',
 'James A. Garfield',
 'Ulysses S. Grant',
 'Warren G. Harding',
 'William Henry Harrison',
 'Benjamin Harrison',
 'Rutherford B. Hayes',
 'Herbert Hoover',
 'Andrew Jackson',
 'Thomas Jefferson',
 'Andrew Johnson',
 'Lyndon B. Johnson',
 'John F. Kennedy',
 'Abraham Lincoln',
 'James Madison',
 'William McKinley',
 'James Monroe',
 'Richard Nixon',
 'Barack Obama',
 'Franklin Pierce',
 'James K. Polk',
 'Ronald Reagan',
 'Theodore Roosevelt',
 'Franklin D. Roosevelt',
 'William Howard Taft',
 'Zachary Taylor',
 'Harry S. Truman',
 'John Tyler',
 'George Washington',
 'Woodrow Wilson']

## Challenge 4: Range

Using `range` and a for loop, calculate the factorial of 42 (the product of all integers up to and including 42).

In [12]:
factorial = 1
for num in range(1, 43):
    factorial *= num

print(factorial)

1405006117752879898543142606244511569936384000000000